.product-img {
    width: 100%;
    height: 400px; /* Altura fija */
    object-fit: initial; /* Ajusta la imagen al tamaño del contenedor */
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    margin-bottom: 30px;
}
.ColorTextWelcome { /* Color del texto de bienvenida */
    color: #000FF0;
}
